language: rust
rust:
  - stable
  - beta
  - nightly

services:
  - docker

os:
  - linux

matrix:
  allow_failures:
    - rust: nightly
addons:
  apt:
    sources:
      - kalakris-cmake
    packages:
      - cmake
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - wget
      - zsh

script:
  - cargo build --verbose
  - cargo test --verbose
  - mkdir -p smoke
  - wget https://raw.githubusercontent.com/grml/grml-etc-core/master/etc/zsh/zshrc -O smoke/vanilla-grml-zshrc
  - zsh -c "source smoke/vanilla-grml-zshrc && eval $(cargo run -- print-zsh-setup 2>/dev/null)"

before_deploy: "bash package.sh"
deploy:
  provider: releases
  api_key:
    secure: o1GJDVz3js4jAmcBT3ZQFGS3JymiXzBy3HF06AfxpkeJJVKSv163PSWdOq4KOEYfrbsW6MGutZQJ/f/2mzWVjQmNyB5vw/tfHM67gOTGbgHbXuVc48Uk9YUdWvKB8vjXzIaEP+WIc8iRwDMtkjx4BByGDIIv+r8FbQGIQ4HMRm3aiggfiKGwYH7xn9gEykCh579yfBtc2yU57tM6gWJceRA8GFIuU02MxWJliQJfknkH+SEhWEovN+5N0O8OWYprcjNf4tJh2QVv6Q3pWoB2EWXvqEEpCA3dfON7887ZTBgDMrFKxG86qki0U9GKqnm+UDKC7GN0k+VaYLPWzoW90VMnib/BCaHeIXVsh7m7L4dnb+SHKnRlCoj1Z7ps2q2r7ZmVr+1hq0SRJf88BuKVZM8CfxSkmTmvB7OywEKKnyWjLPNvck5/90cawXs6VKd3DuMgx/YlaLz9vdmpkw1Pcx3C0cxz0cbqwbFvu5fQfjbGGNNXSXfsZJkQVZ9/gYch06uGCZZnMC4EWU0xlcAw0NLlgykxcjLCGWs57n9DdIL8nU1NUmkMTKx0LJ/KJsneAfhsxtBCCmMVczPEuc41G6XutEJxKxqiQqXvTBBy8TU9NZs3BENeUwTtSC8zUunQBiyNKXVj+YOyXn5wHhW1BOw59pjRw9f4MlwWOSxaMDY=
  file:
    - "./target/x86_64-unknown-linux-musl/release/fw"
    - "./target/x86_64-unknown-linux-musl/release/fw.deb"
    - "./target/x86_64-unknown-linux-musl/release/fw.rpm"
  on:
    tags: true
    rust: stable


notifications:
  email:
    on_success: never
    on_failure: always
