[package]
name = "fw"
version = "2.3.1-alpha.0"
authors = ["brocode <bros@brocode.sh>"]
description = "faster workspace management"
license = "WTFPL"
categories = ["command-line-utilities"]
repository = "https://github.com/brocode/fw"
readme = "README.org"
keywords = ["workspace", "productivity", "cli", "automation", "developer-tools" ]
edition = "2018"

[dependencies]
walkdir = "2"
clap = "2.29"
dirs = "2"
slog-term = "2"
sloggers = "1"
toml = "0.5"
slog-async = "2"
serde_json = "1.0.3"
serde = "1"
serde_derive = "1"
git2 = "0.13"
maplit = "1.0"
rayon = "1"
regex = "1"
ansi_term = "0.12"
atty = "0.2"
rand = "0.7"
spectral = "0.6"
crossbeam = "0.7"
indicatif = "0.14"
openssl-probe = "0.1"
gitlab = "0"
reqwest = { version = "0.10", features = ["json"] }
tokio = { version = "0.2", features = ["full"] }

# This is needed to make sure that Cargo statically links against
# `libssl`. This should happen automatically, but it doesn't.
openssl-sys = "0.9"

[dependencies.slog]
version = "2"
features = ["release_max_level_trace", "max_level_trace"]

[dev-dependencies]
spectral = "0.6"
