[package]
name = "fw"
version = "1.13.0"
authors = ["brocode <bros@brocode.sh>"]
description = "faster workspace management"
license = "WTFPL"
categories = ["command-line-utilities"]
repository = "https://github.com/brocode/fw"
readme = "README.org"
keywords = ["workspace", "productivity", "cli", "automation", "developer-tools" ]

[dependencies]
clap = "2.29"
dirs = "1.0"
slog-term = "2"
slog-async = "2"
serde_json = "1.0.3"
serde = "1.0.27"
serde_derive = "1.0.27"
git2 = "0.7"
maplit = "1.0"
rayon = "1"
regex = "1"
ansi_term = "0.11"
atty = "0.2"
rand = "0.5"
spectral = "0.6"
crossbeam = "0.4"
indicatif = "0.9"
openssl-probe = "0.1"
github-gql-rs = "0.0.1"
error-chain = "0.12.0"


# This is needed to make sure that Cargo statically links against
# `libssl`. This should happen automatically, but it doesn't.
openssl-sys = "0.9"

[dependencies.slog]
version = "2"
features = ["release_max_level_trace", "max_level_trace"]

[dev-dependencies]
spectral = "0.6"
